*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;    
}
:root {
    --bg-primario-gradient:
        linear-gradient( rgb(248, 219, 56), rgb(247, 115, 0));}

body {
    height: 100vh;
    background: var(--bg-primario-gradient);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor-principal {
    position: relative;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container {
    margin-top: 100px;
    background-color: white;
    padding: 3em 2em 2em 2em;
    border-radius: 2em;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    z-index: 1;
    position: relative;
}



.titulo {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}
.mini {
    font-size: 0.9em;
    margin-bottom: 1em;
    color: black;
}

.parrafo {
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #444;
}
.agregar {
    width: 100%;
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1em;
}

.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
    color: black;
}

.contador button {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}

.precio-contador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}
.precio {
    font-size: 1.8em;
    color: black;
    margin: 0;
}
